



nav{
    font-family: 'DM Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 51px 226px;
  
}
nav ul{
    display: flex;
    align-items: center;

}
nav ul li{
    list-style: none;
    margin-right: 51px;
    
}
nav ul li a{
    text-decoration: none;
    color: #2c2929;
    font-weight: 600;
    font-size: 20px;
}

.navTitle{
    font-size: 45px;
    font-weight: 800;
    color: #2c2929;
}
.text{
    color: #FD6E0A;
}
.header{
    background-image: url('images/developer.png'),url('images/header_bg.png');
   
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* shared items
} */
 .buttonprimary{
    background-color: #FD6E0A;
    color: white;
    height: 64px;
    width: 150px;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
 }
 .dark2{
    color: #474747;
 }
/* Banner styles*/
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 35px 0 230px;
    align-items: center;
}

.bannertitle{
    width: 177px;
    height: 61px;
    font-size: 45px;
}
.bannertitle2{
    color: #181818;
    font-weight: bold;
    font-size: 85px;
    width: 498px;
    height: 116px;
    padding-top: 0px;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
}
.banner-content{
    max-width : 585px;
    height: 356px;
    font-size: 20px;
    color: #474747;
    margin-top: 24px;
    margin-bottom: 40px;
    align-items: center;
    padding: 0%;
}