



nav{
    font-family: 'DM Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 51px 226px;
  
}
nav ul{
    display: flex;
    align-items: center;

}
nav ul li{
    list-style: none;
    margin-right: 51px;
    
}
nav ul li a{
    text-decoration: none;
    color: #2c2929;
    font-weight: 600;
    font-size: 20px;
}

.navTitle{
    font-size: 45px;
    font-weight: 800;
    color: #2c2929;
}
.text{
    color: #FD6E0A;
}
.header{
    background-image: url('images/developer.png'),url('images/header_bg.png');
   
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* shared items
} */
 .buttonprimary{
    background-color: #FD6E0A;
    color: white;
    height: 64px;
    width: 150px;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
 }
 .dark2{
    color: #474747;
 }
 .bgcolour{
background-color: #f8e4d3;
 }
 .section-title{
    font-size: 36px;
    font-weight: bold;
    color: #181818;
 }
 .section-description{
    font-size: 18px;
    color: #4e4c4c;
 }
 .item-title{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
 }
/* Banner styles*/
.banner{
    display: flex;
    justify-content: space-between;
    margin:0 35px 0 230px;
    
}

.bannertitle{
    
    font-size: 45px;
    font-weight: 600;

}
.bannertitle2{
    color: #181818;
    font-weight: bold;
    font-size: 85px;
    margin-top: 5px;
   
}
.banner-profile{

    width: 580px;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
}
.banner-content{
    max-width : 585px;
    
}
.about{
    border-radius: 5px;
    padding: 131px 156px;
    text-align: center;
    margin-top: 130px;
}
main{

    max-width: 1440px;
    margin: 0 auto;

}
.aboutitems{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}
.allabout{
    background-color: #FFFFFF;
    
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 24px;
    
}
.whatido{
    text-align: center;
    margin-top: 130px;
}
.skill{
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.skillitem{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 30px;
        box-shadow: 0px 6px 50px 0px rgba(73, 73, 73, 0.16);

}